:root { 
--deep_purple_900:#1815c9; 
--pink_900:#550832; 
--red_900:#a82020; 
--blue_gray_100_01:#dad1d1; 
--gray_500_3f:#a19a9a3f; 
--gray_800_02:#4c4c4c; 
--gray_800_01:#3b3b3b; 
--black_900_3f:#0000003f; 
--black_900_01:#130101; 
--pink_900_01:#991747; 
--pink_900_02:#5e0933; 
--black_900:#000000; 
--black_900_63:#00000063; 
--blue_gray_100_3f:#d1cdcd3f; 
--pink_800:#a8174e; 
--black_900_03:#0d010d; 
--black_900_47:#00000047; 
--black_900_02:#160101; 
--red_A700:#ec0c0c; 
--gray_700_33:#61616133; 
--gray_500_3f_01:#a4a4a43f; 
--gray_700:#636363; 
--gray_400:#c5c5c5; 
--blue_gray_100:#d9d9d9; 
--gray_800:#4b4848; 
--gray_900:#500732; 
--gray_300:#dededf; 
--black_900_99:#00000099; 
--lime_A700:#92ef1b; 
--gray_300_3f:#dbdbdb3f; 
--white_A700:#ffffff; 
--blue_gray_100_3f_01:#dbd7d73f; 
--pink_800_01:#b32346; 
}